@if (order) {
  <div class="wallet-table mt-0">
    <div class="table-responsive">
      <table>
        <thead>
            <h4>{{"nbrArticle" | translate}}: {{ order.articles.length }} </h4>
            <p>
               {{"totalInvoice" | translate}} : {{ order.Montant_total }} 
            </p>
        </thead>
        <tbody>
          <tr>
            <th>N.</th>
            <th>Image</th>
            <th>Article</th>
            <th>Description</th>
            <th>{{ 'amount' | translate }}</th>
            <th>{{"quantity" | translate }}</th>
            <th>Total</th>
          </tr>
          @for (article of order.articles; track order ; let i = $index) {
            <tr>
              <td>{{ i + 1 }}</td>
              <td> 
                  <a class="product-image">
                    <img [src]="article.Images.length > 0 ? article.Images[0].lien : 'assets/images/product.png'" width="70px" height="60px">
                  </a>
              </td>
              <td>{{ article.nom_article }}</td>
              <td>
               <div [innerHTML]="article.caracteristiques"></div> 
              </td>
              <td>{{ article.prix  }} </td>
              <td>{{ article.total_article.quantite  }} </td>
              <td style="color: chartreuse;">{{ (article.prix*article.total_article.quantite) | currencySymbol }} </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>  
}
  <app-refund-modal #refundModal></app-refund-modal>
  <app-pay-modal #payModal></app-pay-modal>
