<div class="dashboard-address">
  <div class="title-header">
    <div class="d-flex align-items-center w-100 justify-content-between">
      <h5>{{ 'saved_address' | translate }}</h5>
      <app-button
        [class]="'btn theme-bg-color text-white btn-sm fw-bold mt-lg-0 ms-auto'"
        [type]="'button'"
        [spinner]="false"
        [id]="'add_address'"
        (click)="AddressModal.openModal()">
        <i class="ri-add-line"></i> {{ 'add_address' | translate }}
      </app-button>
    </div>
  </div>
  @if ((user$ | async)?.adresses?.length) {
    <div class="row g-sm-4 g-3">
      @for (address of (user$ | async)?.adresses; track address; let i = $index) {
        <div class="col-xxl-4 col-xl-6 col-lg-12 col-md-6">
          <div class="address-box">
            <div>
              <div class="label">
                <label>{{ address?.titre ? address?.titre: "" }}</label>
              </div>
              <div class="table-responsive address-table">
                <table class="table">
                  <tbody>
                    <tr>
                      <td colspan="2">{{ (user$ | async)?.user.nom | titleCase }}</td>
                    </tr>
                    <tr>
                      <td>{{ 'address' | translate }} :</td>
                      <td>
                        <p>
                         
                          {{ address?.ville }} {{ address?.adresse }}

                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td>{{ 'Pays' }} :</td>
                      <td> {{address?.pays |country }}</td>
                    </tr>
                    <tr>
                      <td>{{ 'Region' }} :</td>
                      <td> {{address?.etat | state }}</td>
                    </tr>
                    <tr>
                      <td>{{ 'phone' | translate }} :</td>
                      <td> {{ address?.numero_telephone }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="button-group">
              <app-button
                [class]="'btn btn-sm add-button'"
                [type]="'button'"
                [spinner]="false"
                [id]="'edit_address'+address.idAdresse"
                (click)="AddressModal.openModal(address)">
                <i class="ri-edit-box-line"></i> {{ 'edit' | translate }}
              </app-button>
              <app-button
                [class]="'btn btn-sm add-button'"
                [type]="'button'"
                [spinner]="false"
                [id]="'remove_address'+address.idAdresse"
                (click)="DeleteModal.openModal('delete', address)">
                <i class="ri-delete-bin-line"></i> {{ 'remove' | translate }}
              </app-button>
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>
@if (!(user$ | async)?.adresses?.length) {
  <app-no-data [class]="'no-data-added'"
    [image]="'assets/svg/empty-items.svg'"
    [text]="'No Address Found'"
    [description]="'You have not add any address yet'"
    >
  </app-no-data>
}
<address-modal #addressModal></address-modal>
<app-delete-modal
  #deleteModal
  (deleteItem)="delete($event.actionToPerform,$event.data)">
</app-delete-modal>
