@if(selectedVariation || product) {
  <div class="sticky-bottom-cart">
    <div class="container-fluid-lg">
      <div class="row">
        <div class="col-12">
          <div class="cart-content">
            <div class="product-image">
                          <img [src]="product && product.Images ? product.Images[0].lien
                                  : 'assets/images/product.png'" class="img-fluid" alt="product">
                <div class="content">
                  <h5>{{ selectedVariation ? selectedVariation.name : product ? product.nom_article : '' }}</h5>
                    @if (product.promo) {

                      <del class="text-danger">{{ product.prix | currencySymbol }} </del>
                       <h6> {{ (product.prix - (product.prix * product.pourcentage_promo)/100) | currencySymbol }}</h6>
                    }@else {
                    <h6>{{product.prix | currencySymbol }}</h6>
                    }
                    @if ( product.promo) {
                      <span>
                       <h6> {{ ( product.pourcentage_promo) }}% {{ 'off' | translate }}</h6>
                      </span>
                    }
                </div>
              </div>
              <div class="selection-section">
                <div class="form-group mb-0">
                  <app-variant-attributes
                    [product]="product"
                    [attributes]="product.attributes || []"
                    [isAllVariantStyleDropdown]="true"
                    (selectVariation)="selectVariation($event!)">
                </app-variant-attributes>
              </div>
              <div class="cart_qty qty-box product-qty m-0">
                <div class="input-group h-100">
                  <app-button
                    [class]="'btn qty-left-minus'"
                    [id]="'add-to-cart'+product.idArticle"
                    [spinner]="false"
                    (click)="updateQuantity(-1)">
                    <i class="ri-subtract-fill"></i>
                  </app-button>
                  <input class="form-control input-number qty-input" type="text" name="quantity" value="{{productQty}}" readonly>
                  <app-button
                    [class]="'btn qty-left-minus'"
                    [id]="'qty-left-minus'+product.idArticle"
                    [spinner]="false"
                    (click)="updateQuantity(1)">
                    <i class="ri-add-line"></i>
                  </app-button>
                </div>
              </div>
            </div>
            <div class="add-btn">
              @if ((product.statut == 'En stock')) {
                <app-button
                  [id]="'addcartbtnVariationsticky'+product.id"
                  [class]="'btn theme-bg-color text-white'"
                  (click)="addToCart(product)"
                  >
                  <i class="ri-shopping-cart-line me-1"></i>  {{ 'add_to_cart' | translate }}
                </app-button>
              } @else {
                <app-button
                  [class]="'btn theme-bg-color text-white'"
                  [id]="'soldoutbtncheckout'"
                  [spinner]="false"
                  [disabled]="true">
                  {{ (product.statut == 'Hors Stock'  ? 'sold_out' : 'add_to_cart') | translate  }}
                </app-button>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}
