<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<section class="checkout-section-2 section-b-space">
  <div class="container-fluid-lg">
    <div class="row g-sm-4 g-3">
      <div class="col-xxl-8 col-xl-7">
        <div class="left-sidebar-checkout">
          <div class="checkout-detail-box">
            <ul>
              <li>
                <div class="checkout-icon">
                  <i class="ri-map-pin-line"></i>
                </div>
                <div class="checkout-box">
                  <div href="javascript:void(0)" class="checkout-title">
                    <h4>{{ 'shipping_address' | translate }} <sub> <h6>{{"where_to_shipping" | translate }}</h6>  </sub> </h4>
                    
                    <a href="javascript:void(0)" class="d-flex align-items-center fw-bold"
                      (click)="AddressModal.openModal()">
                      <i class="ri-add-line me-1"></i> {{ 'add_new_add' | translate }}
                    </a>
                  </div>
                  <div class="checkout-detail">
                    <app-address-block
                      [addresses]="(user$ | async)?.adresses"
                      [type]="'shipping'"
                      (selectAddress)="selectShippingAddress($event)">
                    </app-address-block>
                  </div>
                </div>
              </li>
            
              <li>
                <div class="checkout-icon">
                  <i class="ri-bank-card-line"></i>
                </div>
                <div class="checkout-box">
                  <div class="checkout-title">
                    <h4>{{ 'payment_options' | translate }}</h4>
                  </div>
                  @if (!(setting$ | async)) {
                    <div class="empty-box">
                      <h2>{{ 'no_payment_options_found' | translate }}</h2>
                    </div>
                  }
                  <app-payment-block
                    [setting]="(setting$ | async)!"
                    (selectPaymentMethod)="selectPaymentMethod($event)">
                  </app-payment-block>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-5">
        <div class="card pos-detail-card">
          <div class="card-body">
            <div class="title-header">
              <div class="d-flex align-items-center">
                <h5>{{ 'checkout' | translate }}</h5>
              </div>
            </div>
            <div class="product-details">
              @if (!(cartItem$ | async)?.length) {
                <app-no-data
                  [class]="'empty-cart'"
                  [image]="'assets/svg/empty-items.svg'"
                  [text]="'Aucun Article dans le panir. | No items in a cart.'"
                  >
                </app-no-data>
              }
              @if ((cartItem$ | async)?.length) {
                <ul class="cart-listing">
                  @for (item of cartItem$ | async; track item) {
                    <li>
                                    <img [src]="item?.product?.Images
                                                ? item?.product?.Images?.[0]?.lien
                                                : 'assets/images/product.png'" class="img-fluid" alt="product">
                        <div class="cart-content">
                          <h4>{{ item?.variation ? item?.variation?.nom_article : item?.product?.nom_article }}</h4>
                          <h5 class="text-theme">
                            {{ (item.product.promo ? item.product.prix-((item.product.prix*item.product.pourcentage_promo)/100 ): item.product.prix) | currencySymbol }} X {{ item.quantity }}
                          </h5>
                          <h5 class="price">
                            {{ item.sub_total | currencySymbol }}
                          </h5>
                        </div>
                      </li>
                    }
                  </ul>
                }
              </div>
              @if ((cartItem$ | async)?.length) {
                <form [formGroup]="form">
                  <div class="custom-box-loader">
                    @if (loading) {
                      <div class="box-loader">
                        <app-loader [loaderClass]="'custom-loader-wrapper blur-bg'"></app-loader>
                      </div>
                    }
                    <ul class="summary-total">
                      <li>
                        <h4>{{ 'subtotal' | translate }}</h4>
                        <h4 class="price">
                          {{ amoutToPay| currencySymbol }}
                        </h4>
                      </li>
                     
                      <li>
                        <h4>{{ 'tax' }}</h4>
                        <h4 class="price">
                          <!-- {{ (checkoutTotal ? (checkoutTotal.total.tax_total | currencySymbol) : 'not_calculated_yet' | translate ) }}-->
                            0.00 FCFA
                        </h4>
                      </li>
                    
            
                    <li class="list-total">
                      <h4>{{ 'total' | translate }}</h4>
                      <h4 class="price">
                        {{ amoutToPay| currencySymbol }}
                      </h4>
                    </li>
                  </ul>
                  <app-button
                    [class]="'btn theme-bg-color text-white btn-md w-100 mt-4 fw-bold'"
                    [id]="'place_order'"
                    [type]="'submit'"
                    (click)="placeorder()"
                    >
                    @if (!isLogged()) {
                       <span> {{ "create_account" | translate }} </span>
                    }@else{
                       <span> {{ "place_order" | translate }} </span>

                    }
                  </app-button>
  
                  <p> <em> <strong>*</strong> {{"account_use_to_order" | translate }}</em></p>

                  <app-button
                    [class]="'btn theme-bg-color text-white btn-md w-100 mt-4 fw-bold'"
                    [id]="'openModal'"
                    (click)="launchExpressModal()"
                    >
                    {{ 'commande_expresse' | translate }}
                  </app-button>
                  <p> <em> <strong>*</strong> {{ "direct_checkout" | translate}} </em> </p>

                </div>
              </form>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<address-modal #addressModal></address-modal>
<app-express-user-modal #expressusermodal></app-express-user-modal>