@if(product) {
  <div class="container-fluid-lg">
    <div class="row">
      <div class="col-xxl-9 col-xl-8 col-lg-7">
        <div class="row g-4">
          @if(isBrowser) {
            <div class="col-xl-6">
              <div class="product-left-box">
                <div class="row g-2">
                  <div class="col-12">
                    <div class="product-main-1 no-arrow">
                      <div class="product-label-group">
                        @if (true) {
                          <div class="product-label-tag"><span>{{ 'sale' | translate }}</span></div>
                        } @else {
                          @if (product.featured) {
                            <div class="product-label-tag warning-label-tag"><span>{{ 'featured' | translate }}</span></div>
                          }
                        }
                        <ng-template #featured>
                          @if (product.featured) {
                            <div class="product-label-tag warning-label-tag"><span>{{ 'featured' | translate }}</span></div>
                          }
                        </ng-template>
                      </div>
                      <owl-carousel-o [options]="productMainThumbSlider" #owlCar>
                        @for (image of product.Images; track image; let i = $index) {
                          <ng-template carouselSlide [id]="image.idImage.toString()">
                            <div>
                              <div class="slider-image">
                                <lib-ngx-image-zoom
                                  [zoomMode]="'click'"
                                  [thumbImage]=image.lien
                                  [fullImage]=image.lien
                                  [magnification]="3"
                                  [enableScrollZoom]="true"
                                  [enableLens]="true"
                                  [lensWidth]="350"
                                  [lensHeight]="350"
                                ></lib-ngx-image-zoom>
                              </div>
                            </div>
                          </ng-template>
                        }
                        @if (product.Images || product.lien ) {
                          <ng-template carouselSlide [id]="'1'">
                            <div>
                              <div class="slider-image">
                                                            <img [src]="product && product.Images ?
                                                                    product.Images[0].lien :
                                                                    (product.lien ? product.lien: 'assets/images/product.png')" class="img-fluid" alt="{{ product.nom_article }}">
                                </div>
                              </div>
                            </ng-template>
                          }
                        </owl-carousel-o>
                      </div>
                    </div>
                    @if (product.Images && product.Images.length > 1) {
                      <div class="col-12">
                        <div class="bottom-slider-image left-slider no-arrow slick-top">
                          <owl-carousel-o [options]="productThumbSlider">
                            @for (image of product.Images; track image) {
                              <ng-template carouselSlide [id]="image.idImage.toString()">
                                <div>
                                  <div class="slider-image" [class.active]="image.idImage.toString() == activeSlide.toString()">
                                                            <img [src]="image ? image.lien
                                                                    : 'assets/images/product.png'" class="img-fluid" alt="{{ product.nom_article }}"
                                      (click)="owlCar.to(activeSlide = image.idImage.toString())">
                                  </div>
                                </div>
                              </ng-template>
                            }
                          </owl-carousel-o>
                        </div>
                      </div>
                    }
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="right-box-contain">
                  <app-product-contain [product]="product" [option]="option" [owlCar]="owlCar"></app-product-contain>
                  <app-product-action [product]="product"></app-product-action>
                  <app-product-information [product]="product"></app-product-information>
                  <app-payment-option [product]="product" [option]="option"></app-payment-option>
                  <app-product-social-share [product]="product" [option]="option"></app-product-social-share>
                </div>
              </div>
          }
            @if (product.cross_sell_products && product.cross_sell_products.length) {
              <div class="col-12 related-product-2">
                <app-product-bundle [product]="product"></app-product-bundle>
              </div>
            }
            <div class="col-12">
              <app-product-details-tabs [product]="product"></app-product-details-tabs>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-5 d-none d-lg-block">
          <app-product-details-sidebar [product]="product"></app-product-details-sidebar>
        </div>
      </div>
    </div>
}
