<div class="title-header">
  <div class="d-flex align-items-center">
    <h5>{{ 'my_orders' | translate }}</h5>
  </div>
</div>
@if ((order$ | async)?.data?.length) {
<div class="total-box mt-0">
  <div class="wallet-table mt-0">
    <div class="table-responsive">
      <table>
        <tbody>
          <tr>
            <th>{{ 'no' | translate }}</th>
            <th>{{ 'order_number' | translate }}</th>
            <th>{{ 'date' | translate }}</th>
            <th>{{ 'amount' | translate }}</th>
            <th>{{ 'qtyArticle' | translate }}</th>
            <th>{{ 'payment_status' | translate }}</th>
            <th>{{ 'payment_method' | translate }}</th>
            <th>{{ 'option' | translate }}</th>
          </tr>
          @for (order of (order$ | async)?.data ; track order ; let i = $index) {
          <tr>
            <td>{{ i + 1 }}</td>
            <td><span class="fw-bolder">#{{order.idCommande}}</span></td>
            <td>{{ order?.createdAt | date: 'dd MMM yyyy hh:mm:a' }}</td>
            <td>{{ order?.Montant_total | currencySymbol }} </td>
            <td>{{ order?.quantite_articles}} </td>
            <td>
              <div><span >{{ order.statut | titleCase
                  }}</span></div>
            </td>
            <td>
              {{ "Mobile" }}
            </td>
            <td><a [routerLink]="['/account/order/details', order.idCommande]"><i class="ri-eye-line"></i></a></td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  @if ((order$ | async)?.data?.length) {
  <nav class="custome-pagination">
    <app-pagination [total]="(order$ | async)?.total || 0" [currentPage]="filter['page']"
      [pageSize]="filter['paginate']" (setPage)="setPaginate($event)">
    </app-pagination>
  </nav>
  }
</div>
}
@if (!(order$ | async)?.data?.length) {
<app-no-data [class]="'no-data-added'" [image]="'assets/svg/empty-items.svg'" [text]="'No Orders Found'"
  [description]="'No orders have been made yet'">
</app-no-data>
}