@if (categories && categories.length) {
  <ul class="category-list custom-padding custom-height">
    @for (category of categories; track category) {
      <li>
        <div class="form-check ps-0 m-0 category-list-box">
          <input class="checkbox_animated" type="checkbox"
            id="category-{{category.idCategorie}}"
            [value]="category.nom"
            [checked]="checked(category.nom!)"
            (change)="applyFilter($event)">
          <label class="form-check-label" for="category-{{category.idCategorie}}">
            <span class="name">{{ category.nom}}</span>
          </label>
        </div>
      </li>
    }
  </ul>
}