@if ((option?.product?.encourage_order && product.encourage_order) ||
  (option?.product?.encourage_view && product.encourage_view)) {
  <div class="product-count">
    <ul>
      @if (option?.product?.encourage_order && product.encourage_order) {
        <li>
          <i class="ri-flashlight-line"></i>
          <h6 class="lang">{{ ordersCount }} {{ 'customers_ordered' | translate }}</h6>
        </li>
      }
      @if (option?.product?.encourage_view && product.encourage_view) {
        <li>
          <i class="ri-eye-line"></i>
          <h6 class="lang">{{ viewsCount }} {{ 'active_view_in_this_item' | translate }}</h6>
        </li>
      }
    </ul>
  </div>
}
<h2 class="name">{{  product.nom_article }}</h2>
<div class="price-rating">
  <h3 class="theme-color price">
    @if (product.promo) {
       <del class="text-content"> {{ (product.prix) | currencySymbol }}</del>
       <h6> {{ (product.prix - (product.prix * product.pourcentage_promo)/100) | currencySymbol }}</h6>
    }@else {
    <h6> {{ (product.prix) | currencySymbol }}</h6>
    }
    @if (product.promo) {
      <span class="offer-top">
        {{ (product.pourcentage_promo) }}% {{ 'off' | translate }}
      </span>
    }
    @if (product.couleur) {
      <li>{{ 'color' | translate }}: {{ product.couleur }}</li>
    }
    @if (product.taille) {
      <li>{{ 'size' | translate }}: {{ product.taille | titlecase}}</li>
    }
  </h3>
  
</div>
@if (product.caracteristiques) {
  <div class="product-contain">
    <p [innerHTML]="product.caracteristiques"></p>
  </div>
}
<!--<div class="product-package">
  @if(isBrowser) {
    <app-variant-attributes [product]="product" [attributes]="product.attributes || []"
      (selectVariation)="selectVariation($event!)" [owlCar]="owlCar">
    </app-variant-attributes>
  }
</div>-->
@if (product.sale_starts_at && product.sale_expired_at) {
  <app-sale-timer [startDate]="product.sale_starts_at" [endDate]="product.sale_expired_at"
    >
  </app-sale-timer>
}
<div class="note-box product-package">
  <div class="cart_qty qty-box product-qty">
    <div class="input-group">
      <app-button [class]="'btn qty-left-minus'" [id]="'add-to-cart'+product.idArticle" [spinner]="false"
        (click)="updateQuantity(-1)">
        <i class="ri-subtract-fill"></i>
      </app-button>
      <input class="form-control input-number qty-input" type="text" name="quantity" value="{{productQty}}"
        readonly>
      <app-button [class]="'btn qty-left-minus'" [id]="'qty-left-minus'+product.idArticle" [spinner]="false"
        (click)="updateQuantity(1)">
        <i class="ri-add-line"></i>
      </app-button>
    </div>
  </div>
  <div class="wishlist-btn-group">
    <app-button [class]="'wishlist-button btn'" [id]="'wishlist_btn'" [spinner]="false"
      (click)="addToWishlist(product)">
      <i class="ri-heart-line"></i>
    </app-button>
    <app-button [class]="'wishlist-button btn'" [id]="'compare_btn'" [spinner]="false"
      (click)="addToCompare(product)">
      <i class="ri-refresh-line"></i>
    </app-button>
  </div>
</div>
<div class="dynamic-checkout">
  <app-button
    [class]="'btn btn-md bg-theme'"
    [id]="'buynowbtn'+product.idArticle"
      [disabled]="(product.statut == 'En stock') ? false : true"
      (click)="(product.statut == 'En stock') && buyNow(product)">
    {{ 'buy_now' | translate }}
  </app-button>
  @if ((product.statut == 'En stock')) {
    <app-button [id]="'addcartbtnVariation'+product.idArticle" [class]="'btn btn-md border-theme-color scroll-button'"
      (click)="addToCart(product)">
      <i class="ri-shopping-cart-line me-1"></i> {{ 'add_to_cart' | translate }}
    </app-button>
  } @else {
    <app-button [class]="'btn btn-md border-theme-color scroll-button disabled'"
      [id]="'soldoutbtnproductcontain'" [spinner]="false" [disabled]="true">
      @if ( product.statut == "En stock") {
        <i class="ri-shopping-cart-line me-1"></i>
        } {{
        ((product.statut == 'Hors Stock' ) ? 'sold_out'
        : 'add_to_cart') | translate }}
      </app-button>
    }
  </div>
