<!-- Banner Horizontal Style-->
@if (banners && style == 'horizontal' && isCenter==false && isPrincipal==true) {
  <div class="container-fluid header_container" >
    <div class="banner-slider">
      <owl-carousel-o [options]="bannerSliderPrincipal">
        @for (banner of banners; track banner) {
          <ng-container carouselSlide>
            @if (true) {
              <ng-template carouselSlide>
                <a href="#">
                  <div class="banner-contain hover-effect">
                    <app-image-link [class]="'banner-contain'" [image]="banner" [bgImage]="false"></app-image-link>
                  </div>
                </a>
              </ng-template>
            }
          </ng-container>
        }
      </owl-carousel-o>
    </div>
  </div>
}
@if (banners && style == 'horizontal' && isCenter==true && isPrincipal==false) {
  <div class="">
    <div class="banner-slider" >
      <owl-carousel-o [options]="bannerSliderCenter">
        @for (banner of banners; track banner) {
          <ng-container carouselSlide>
            @if (true) {
              <ng-template carouselSlide>
                <a href="#">
                  <div class="banner-contain hover-effect">
                    <app-image-link [class]="'banner-contain'" [image]="banner" [bgImage]="false"></app-image-link>
                  </div>
                </a>
              </ng-template>
            }
          </ng-container>
        }
      </owl-carousel-o>
    </div>
  </div>
}

@if (banners && style == 'horizontal' && isCenter==false && isPrincipal==false) {
  <div class="mt-4">
    <div class="banner-slider" >
      <owl-carousel-o [options]="bannerSlider">
        @for (banner of banners; track banner) {
          <ng-container carouselSlide>
            @if (true) {
              <ng-template carouselSlide>
                <a href="#">
                  <div class="banner-contain hover-effect">
                    <app-image-link [class]="'banner-contain'" [image]="banner" [bgImage]="false"></app-image-link>
                  </div>
                </a>
              </ng-template>
            }
          </ng-container>
        }
      </owl-carousel-o>
    </div>
  </div>
}

@if (articles.length != 0) {
  <div class="container-fluid" >
    <div class="banner-slider">
      <owl-carousel-o [options]="bannerSlider">
        @for (article of articles; track article) {
          <ng-container carouselSlide>
            @if (true) {
              <ng-template carouselSlide>
                <app-theme-product
                [product]="articles"
                [slider]="true"
                [style]="'horizontal'">
              </app-theme-product>
              </ng-template>
            }
          </ng-container>
        }
      </owl-carousel-o>
    </div>
  </div>
}

<!-- Banner Vertical Style-->
@if (banners && style == 'vertical') {
  <div [class]="class">
    <div class="home-contain hover-effect" style="width: 300px; height: 300px;">
      <app-image-link [class]="'banner-contain'" [image]="banners" [bgImage]="false"></app-image-link>
    </div>
  </div>
}
<!-- Banner Full Width Style-->
@if (banners && style == 'full_width') {
  <div >
    <owl-carousel-o [options]="bannerSlider">
        @for (banner of banners; track banner) {
          <ng-container carouselSlide>
            @if (true) {
              <ng-template carouselSlide>
                <a href="#">
                  <div class="banner-contain hover-effect">
                    <app-image-link [class]="'banner-contain'" [image]="banner" [bgImage]="false"></app-image-link>
                  </div>
                </a>
              </ng-template>
            }
          </ng-container>
        }
      </owl-carousel-o>
  </div>
}
