@media (max-width: 768px) { // Pour les téléphones
        .header_container{
            padding: 0;
            margin: 0;
        }
        .banner-contain{
            max-height: 90px;
        }
  }
