<div class="product-section-box mt-0">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-tabs custom-nav">
    <li ngbNavItem="description">
            <a ngbNavLink>{{ 'description' | translate }}</a>
            <ng-template ngbNavContent>
                <div class="product-description">
                    <div class="nav-desh ckeditor-content"
                        [innerHTML]="product?.caracteristiques">
                    </div>
                </div>
            </ng-template>
        </li>
    </ul>
  <div [ngbNavOutlet]="nav" class="custom-tab"></div>
</div>
