<ng-template #profileModal let-modal>
    <div class="modal-header">
      <h3 class="fw-semibold">{{ 'delivery_info' | translate }}</h3>
      <app-button
        [class]="'btn btn-close'"
        [spinner]="false"
        [id]="'profile_modal_close_btn'"
        (click)="modal.dismiss('Cross click')">
        <i class="ri-close-line"></i>
      </app-button>
    </div>
    @if (!flicker) {
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="modal-body address-form">
          <div class="row g-4">
            <div class="col-xxl-12">
              <div style="color: green">
                {{"expressOrderInfo1" | translate}}
                <br>
                {{"expressOrderInfo2" | translate}}

                <br>
                {{"expressOrderInfo3" | translate}}
              </div>
            </div>
            <div class="col-xxl-12">
              <div class="">
                <label class="form-label" for="name">{{ 'name' | translate }}</label>
                <input class="form-control" id="name" type="text" placeholder="{{ 'enter_name' | translate }}" formControlName="nom" />
                @if (form.controls['nom'].touched && form.controls['nom'].errors?.['required']) {
                  <div class="invalid-feedback">
                    {{ 'name_is_required' | translate }}
                  </div>
                }
              </div>
            </div>
            <div class="col-xxl-12">
              <div class="">
                <label class="form-label" for="name">{{ 'surname' | translate }}</label>
                <input class="form-control" id="name" type="text" placeholder="{{ 'enter_surname' | translate }}" formControlName="prenom" />
                @if (form.controls['prenom'].touched && form.controls['prenom'].errors?.['required']) {
                  <div class="invalid-feedback">
                    {{ 'surname_is_required' | translate }}
                  </div>
                }
              </div>
            </div>
            <div class="col-12">
              <div class="">
                <label class="form-label" for="express_adresse">{{ "Lieu de livraison " }}</label>
                <input class="form-control" id="express_adresse" type="text" placeholder="{{ 'ex: Ndokoti Tradex'}}" formControlName="express_adresse">
                @if (form.controls['express_adresse'].touched && form.controls['express_adresse'].errors?.['required']) {
                  <div class="invalid-feedback">
                    {{ 'ce bloc est requis'}}
                  </div>
                }
              </div>
            </div>
            @if(isBrowser){
              <div class="col-12 phone-field">
                <div class="">
                  <label class="form-label" for="phone">{{ 'Tel ou WhatsApp' }}</label>
                  <!-- <select2
                    class="custom-select intl-tel-input"
                    [templates]="template"
                    [data]="codes"
                    formControlName="country_code">
                    <ng-template #template let-data="data">
                      <div class="country">
                        <div class="flag-box">
                          <div class="iti-flag {{data?.class}}"></div>
                        </div>
                        <span class="dial-code">{{data.code}}</span>
                      </div>
                    </ng-template>
                  </select2> -->
                  <input type="number" class="form-control" formControlName="tel" placeholder="{{ 'enter_phone' | translate }}" name="phone">
                  @if (form.controls['tel'].touched && form.controls['tel'].errors?.['required']) {
                    <div class="invalid-feedback">
                      {{ 'phone_number_is_required' | translate }}
                    </div>
                  }
                  @if (form.controls['tel'].touched && form.controls['tel'].errors?.['pattern']) {
                    <div class="invalid-feedback">
                      {{ 'phone_number_is_invalid' | translate }}
                    </div>
                  }
                </div>
              </div>
            }
          </div>
          <div class="modal-footer">
            <app-button [class]="'btn btn-theme-outline btn-md fw-bold'" [type]="'button'" [spinner]="false"
              [id]="'cancel_profile_btn'" (click)="modal.dismiss('Cancel')">
              {{ 'cancel' | translate }}
            </app-button>
            <app-button [class]="'btn theme-bg-color btn-md fw-bold text-light'" [id]="'submit_profile_btn'">
              {{ 'validate' | translate}}
            </app-button>
          </div>
        </div>
      </form>
    }
  </ng-template>
  