<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<section class="compare-section section-b-space">
  <div class="container-fluid-lg">
    <div class="row g-0 compare-row">
      @if (compareService.skeletonLoader) {
        @for (item of skeletonItems; track item) {
          <div class="col skeleton-compare">
            <div class="compare-part">
              <div class="img-section">
                <div>
                  <div class="compare-img"></div>
                </div>
                <a href="javascript:void(0)" tabindex="0">
                  <h5 class="placeholder col-6"></h5>
                </a>
              </div>
              <div class="detail-part">
                <div class="title-detail">
                  <h5 class="placeholder col-3"></h5>
                </div>
                <div class="inner-detail">
                  <p class="placeholder col-1"></p>
                </div>
              </div>
              <div class="detail-part">
                <div class="title-detail">
                  <h5 class="placeholder col-1"></h5>
                </div>
                <div class="inner-detail">
                  <p class="placeholder col-2"></p>
                </div>
              </div>
              <div class="detail-part">
                <div class="title-detail">
                  <h5 class="placeholder col-4"></h5>
                </div>
                <div class="inner-detail">
                  <p class="placeholder col-3"></p>
                </div>
              </div>
              <div class="detail-part">
                <div class="title-detail">
                  <h5 class="placeholder col-1"></h5>
                </div>
                <div class="inner-detail">
                  <div class="compare-rating">
                    <span class="placeholder col-4"></span>
                  </div>
                </div>
              </div>
              <div class="detail-part">
                <div class="title-detail">
                  <h5 class="placeholder col-1"></h5>
                </div>
                <div class="inner-detail">
                  <p class="placeholder col-3"></p>
                </div>
              </div>
            </div>
          </div>
        }
      } @else {
        @for (product of (compareItems$ | async); track product) {
          <div class="col">
            <div class="compare-part">
              <div class="img-section">
                <div>
                  <img [src]="product.Images.length ? product.Images[0].lien : 'assets/images/product.png'"
                    class="img-fluid blur-up lazyloaded"
                    [alt]="product.nom_article">
                </div>
                <a href="javascript:void(0)">
                  <h5 class="text-title">{{ product.nom_article }}</h5>
                </a>
              </div>
              <div class="detail-part">
                <div class="title-detail">
                  <h5>{{ 'discount' | translate }}</h5>
                </div>
                <div class="inner-detail">
                  <p style="color: rgb(255, 47, 47);">{{ product.promo ? (-product.pourcentage_promo + "%"): '-' }}</p>
                </div>
              </div>
              <div class="detail-part">
                <div class="title-detail">
                  <h5>{{ 'price' | translate }}</h5>
                </div>
                <div class="inner-detail">
                  <p>{{product.prix | currencySymbol}}</p>
                </div>
              </div>
              <div class="detail-part">
                <div class="title-detail">
                  <h5>{{'marque' | translate}}</h5>
                </div>
                <div class="inner-detail">
                  <p>{{product.marque ? product.marque: '-' }}</p>
                </div>
              </div>
              <div class="detail-part">
                <div class="title-detail">
                  <h5>{{ 'garantie' | translate }}</h5>
                </div>
                <div class="inner-detail">
                  <p>{{product.garantie ? product.garantie: '-'}}</p>
                </div>
              </div>
              <div class="detail-part">
                <div class="title-detail">
                  <h5>{{ 'availability' | translate }}</h5>
                </div>
                <div class="inner-detail">
                  <p>{{ product.statut| titleCase }}</p>
                </div>
              </div>
              
             
              <div class="btn-part">
                <button class="btn btn-animation btn-sm" (click)="back()"> <-- {{ 'nav_back' | translate }} </button>
              </div>
              <div class="remove-part">
                <a href="javascript:void(0)" class="text-content remove_column" (click)="removeCompare(product.idArticle)"><i
                class="ri-delete-bin-line"></i> {{ 'remove' | translate }}</a>
              </div>
            </div>
          </div>
        }
      }
    </div>
    @if (!(compareItems$ | async)?.length && !compareService.skeletonLoader) {
      <app-no-data
        [class]="'no-data-added'"
        [image]="'assets/svg/no-category.svg'"
        [text]="'Aucun Article à comparer | No Items Added'"
        [description]=" 'Il semble que rien ait été ajouté à votre liste de comparaison. Explorez les produits si vous le souhaitez.|It appears that nothing has been added to your compare list. Explore products if you want to.'"
        >
      </app-no-data>
    }
  </div>
</section>
