<div class="pickup-box">
  <div class="product-title">
    <h4>{{ 'product_information' | translate }}</h4>
  </div>
  <div class="product-info">
    <ul class="product-info-list product-info-list-2">
     
      @if (product?.statut) {
        <li>{{ 'stock_status' | translate }}: {{ product?.statut! | titleCase }}</li>
      }
      @if (product?.quantite! > 0) {
        <li>{{ 'quantity' | translate }}: {{ product?.quantite }} {{ 'items_left' | translate }}</li>
      }
      @if (product?.couleur) {
        <li>{{ 'couleur' | translate }}: {{ product?.couleur | titleCase}} </li>
      }
      @if (product?.taille) {
        <li>{{ 'taille' | translate }}: {{ product?.taille | titleCase }} </li>
      }
      @if (product?.garantie) {
        <li>{{ 'warranty' | translate }}: {{ product?.garantie }}</li>
      }
    </ul>
  </div>
</div>
