<!-- Category Style Vertical -->
@if (category && category.length && style == 'vertical') {
<div class="category-menu section-b-space">
  <h3>{{ title ? title : 'categories' | translate }}</h3>
  <ul>
    @for (category of category; track category) {
    <li>
      <div class="category-list">
        <img [src]="category?.urlLogo ? category?.urlLogo : 'assets/images/category.png'"
          [alt]="category?.nom">
        <h5>
          <a href="javascript:void(0)" (click)="redirectToCollection(category.nom)">{{ category.nom }}</a>
        </h5>
      </div>
    </li>
    }
  </ul>
</div>
}

<!--- Category Style Dropdown -->
@if (category && category.length && style == 'dropdown') {
 
  <ul class="category-list">
    @for (category of category; track category) {
    <li class="onhover-category-list">
      <a href="javascript:void(0)" (click)="redirectToCollection(category.nom!)" class="category-name">
        <img [src]="category?.urlLogo ? category?.urlLogo : 'assets/images/category.png'"
          [alt]="category?.nom">
        <h6>{{ category?.nom }}</h6>
      </a>
    </li>
    }
  </ul>
  }

<!-- Category Classic Vertical -->
@if (category && category.length && style == 'classic_vertical') {
<div class="shop-left-sidebar">
  <ul class="nav nav-pills mb-3 custom-nav-tab">
    @for (category of category; track category) {
    <li class="nav-item">
      <app-button
        [class]="selectedCategorySlug.length && selectedCategorySlug.includes(category.slug!) ? 'nav-link active' : 'nav-link'"
        [id]="'nav_link_btn'" [spinner]="false" (click)="redirectToCollection(category.slug!)">
        {{ category.name }}
        <img [src]="category?.urlLogo ? category?.urlLogo : 'assets/images/category.png'"
          [alt]="category?.nom">
      </app-button>
    </li>
    }
  </ul>
</div>
}

<!-- Category Style Horizontal -->
@if (category && category.length && style == 'horizontal') {
<div class="product-wrapper no-arrow" [class]="'category-slider'">
  @if(isBrowser){
    <owl-carousel-o [options]="sliderOption">
      @for (category of category; track category) {
      <ng-template carouselSlide>
        @if (theme == 'paris') {
        <a href="javascript:void(0)" (click)="redirectToCollection(category.slug!)" class="category-box category-dark"
          [class.active]="selectedCategorySlug.length && selectedCategorySlug.includes(category.slug!)">
          <img [src]="image ? image : 'assets/images/shape.png'" class="background-image" alt="shape">
          <img [src]="category?.urlLogo ? category?.urlLogo  : 'assets/images/category.png'"
            [alt]="category?.nom">
          <h5>{{ category.nom }}</h5>
        </a>
        }
       
      </ng-template>
      }
    </owl-carousel-o>
  }
</div>
}

<!-- Category Style classic -->
@if (category && category.length && style == 'classic') {
<owl-carousel-o [options]="sliderOption">
  @for (category of category; track category) {
  <ng-template carouselSlide>
    <div>
      <div class="shop-category-box border-0 wow fadeIn">
        <a href="javascript:void(0)" (click)="redirectToCollection(category.slug!)" class="circle-1">
          <img [src]="category?.urlLogo? category?.urlLogo : 'assets/images/category.png'"
            [alt]="category?.nom">
        </a>
        <div class="category-name">
          <h6>{{ category.nom }}</h6>
        </div>
      </div>
    </div>
  </ng-template>
  }
</owl-carousel-o>
}

<!-- Category Style Filter -->
@if (category && category.length && style == 'filter') {
<ul class="nav nav-tabs tab-style-color-2 tab-style-color">
  @for (category of category; track category) {
  <li class="nav-item">
    <app-button [class]="selectedCategoryId == category.id ? 'nav-link btn active' : 'nav-link btn' " [spinner]="false"
      [id]="'category'+category.id" (click)="selectCategory(category.id)">
      {{category?.name}}
    </app-button>
  </li>
  }
</ul>
}


<!-- Input Category Dropdown -->
@if (category && category.length && style == 'input_dropdown') {
<app-button [class]="'btn location-button'" [id]="'category_btn'" [spinner]="false" [type]="'button'">
  <select class="form-select locat-name">
    <option>{{ 'all_category' | translate }}</option>
    @for (category of category; track category) {
    <option>
      {{ category.nom }}
    </option>
    }
  </select>
</app-button>
}