.psticky {
    width: auto;
    height: 285x;
    overflow-y: auto;        /* permet le scroll vertical */
    overflow-x: hidden;      /* empêche le scroll horizontal */
  }
  .scrollable-box {
    width: 339px;
    height: 285px;
    overflow-y: scroll; 
    overflow-x: hidden;
  
    /* Masquer scrollbar */
    scrollbar-width: none;      
    -ms-overflow-style: none;     
  }
  
  .scrollable-box::-webkit-scrollbar {
    display: none;                
  }


.ventes_flash, ._12, .best_sells{
    padding-top: 20px;
    padding-bottom: 20px;
}

@media only screen and (min-width: 1201px) {
    .category-menu{
        height: 600px;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

}
