<ng-template #dealsModal let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <div>
        <h5 class="modal-title w-100" id="deal_today">{{ 'deal_today' | translate }}</h5>
        <p class="text-content">{{ 'recommended_deals_for_you' | translate }}</p>
      </div>
      <app-button [type]="'button'" [class]="'btn btn-close'" [id]="'close_deal_modal_btn'" (click)="modal.dismiss('Cross click')">
        <i class="ri-close-line"></i>
      </app-button>
    </div>
    <div class="modal-body">
      @if (products.length) {
        <div class="deal-offer-box">
          <ul class="deal-offer-list">
            @for (product of products; track product) {
              <li class="list-1">
                <div class="deal-offer-contain">
                  <a [routerLink]="['/product/', product.idArticle]" class="deal-image" (click)="closeModal()">
                        <img [src]="product?.Images ?
                                    product.Images[0].lien :
                                    'assets/images/product.png'" alt="product">
                    </a>
                    <a [routerLink]="['/product/', product.idArticle]" class="deal-contain">
                      <h5 class="fw-semibold">{{ product?.nom_article }}</h5>
                      <h6>
                        @if (product.promo) {
                        {{ (product.prix - (product.prix * product.pourcentage_promo)/100) | currencySymbol }}

                          <del>{{ product.prix | currencySymbol }}</del>
                        }@else {
                          {{ product.prix | currencySymbol }}
                        }
                        
                      </h6>
                    </a>
                  </div>
                </li>
              }
            </ul>
          </div>
        }
        <!-- No Data -->
        @if (!products.length) {
          <app-no-data
            [class]="'no-data-added bg-light'"
            [text]="'No Product Found'"
            >
        </app-no-data>
      }
    </div>
  </div>
</ng-template>
