<!-- Colonne gauche : deals directement affichés -->
    
    <!-- Deals Section -->
    <div class="category-menu deals-box p-3 rounded shadow-sm psticky">
      <div class="modal-header p-0 mb-3 border-bottom">
        <div>
          <h5 class="modal-title" id="deal_today">{{ 'deal_today' | translate }}</h5>
          <p class="text-content">{{ 'recommended_deals_for_you' | translate }}</p>
        </div>
      </div>

      <div class="modal-body p-0">
        @if (products.length) {
          <div class="deal-offer-box">
            <ul class="deal-offer-list list-unstyled">
              <div class="scrollable-box">
              @for (product of products; track product) {
                <li>
                  <div class="category-list">
                   
                    <a [routerLink]="['/product/', product.idArticle]" class="deal-image me-2" (click)="closeModal()">
                      <img [src]="product?.Images ? product.Images[0].lien : 'assets/images/product.png'" alt="product" class="img-fluid rounded" style="width: 60px; height: 60px;">
                    </a>
                    <a [routerLink]="['/product/', product.idArticle]" class="deal-contain text-dark text-decoration-none">
                     <ul>
                         <li> 
                          <h6>{{ product?.nom_article }}</h6>                          
                        </li>
                        <li>
                             @if (product.promo) {
                                <h5 class="price theme-color">{{ (product.prix - (product.prix * product.pourcentage_promo)/100) | currencySymbol }}</h5>
                              }
                        </li>
                     </ul>
                    </a>
                  </div>
                </li>
              }
             </div>

            </ul>
          </div>
        } @else {
          <app-no-data
            [class]="'no-data-added bg-light'"
            [text]="'No Product Found'">
          </app-no-data>
        }
      </div>
    </div>
