
  @if ("collection" === 'collection') {
    <a [routerLink]="['/collections']" [queryParams]="{ category: image?.collection }" >
      @if (bgImage) {
        <div class="responsive-bg" [ngClass]="class" [ngStyle]="{'background-image': 'url(' + image?.lien + ')'}"></div>
      }
      <!-- @if (!bgImage && !isBaner) {
          <img src="{{ image?.lien }}" class="d-block" style="object-fit: contain; margin: 0;" alt="{{ image?.lien }}"> 
      } -->
      @if (!bgImage && isBaner) {
        <img src="{{ image?.lien }}"  class="img-fluid banner-img" alt="{{ image?.lien }}"> 
        <!-- <div style="width: 100%; padding-top: 35%; background-image: url('{{ image?.lien }}'); 
                    background-size: contain; background-repeat: no-repeat; background-position: center;">
        </div> -->
        }
        @if (!bgImage && !isBaner && !isMoreService) {
          <div class="img-wrapper">
            <img src="{{ image?.lien }}" 
                 alt="{{ image?.lien }}">
          </div>
          }

          @if (!bgImage && !isBaner && isMoreService) {
            <div style="height: 100%;">
                  <img [src]="image.lien" class="card-img-top img-fluid" alt="{{image.lien}}">
            </div>
          }
    </a>
  } @else {
    @if (image?.type === 'product') {
      <a [routerLink]="['/product/', getProductSlug(image?.redirect_link?.link, (product$ | async)?.data!)]">
        @if (bgImage) {
          <div class="responsive-bg" [ngClass]="class" [ngStyle]="{'background-image': 'url(' + image?.lien + ')'}"></div>
        }
        @if (!bgImage) {
          <img src="{{ image?.lien }}" class="h-100 bg-img w-100" alt="{{ image?.lien }}">
        }
      </a>
    } @else {
      @if (bgImage) {
        <div class="responsive-bg" [ngClass]="class" [ngStyle]="{'background-image': 'url(' + image?.lien + ')'}"></div>
      }
      @if (!bgImage) {
        <img src="{{ image?.lien }}" class="h-50 bg-img w-100" alt="{{ image?.lien }}">
      }
    }
  }

<ng-template #product>
  @if (image?.type === 'product') {
    <a [routerLink]="['/product/', getProductSlug(image?.redirect_link?.link, (product$ | async)?.data!)]">
      @if (bgImage) {
        <div class="responsive-bg" [ngClass]="class" [ngStyle]="{'background-image': 'url(' + image?.lien + ')'}"></div>
      }
      @if (!bgImage) {
        <img src="{{ image?.lien }}" class=".responsive-img h-50 bg-img w-100" alt="{{ image?.lien }}">
      }
    </a>
  } @else {
    @if (bgImage) {
      <div class="responsive-bg" [ngClass]="class" [ngStyle]="{'background-image': 'url(' + image?.lien + ')'}"></div>
    }
    @if (!bgImage) {
      <img src="{{ image?.lien }}" class=".responsive-img h-50 bg-img w-100" alt="{{ image?.lien }}">
    }
  }
</ng-template>
