
  @if ("collection" === 'collection') {
    <a [routerLink]="['/collections']" [queryParams]="{ category: image?.collection }" >
      @if (bgImage) {
        <div class="responsive-bg" [ngClass]="class" [ngStyle]="{'background-image': 'url(' + image?.lien + ')'}"></div>
      }
      @if (!bgImage) {
        <img src="{{ image?.lien }}" class="img-fluid  w-100" alt="{{ image?.lien }}">
      }
    </a>
  } @else {
    @if (image?.type === 'product') {
      <a [routerLink]="['/product/', getProductSlug(image?.redirect_link?.link, (product$ | async)?.data!)]">
        @if (bgImage) {
          <div class="responsive-bg" [ngClass]="class" [ngStyle]="{'background-image': 'url(' + image?.lien + ')'}"></div>
        }
        @if (!bgImage) {
          <img src="{{ image?.lien }}" class="img-fluid w-100" alt="{{ image?.lien }}">
        }
      </a>
    } @else {
      @if (bgImage) {
        <div class="responsive-bg" [ngClass]="class" [ngStyle]="{'background-image': 'url(' + image?.lien + ')'}"></div>
      }
      @if (!bgImage) {
        <img src="{{ image?.lien }}" class="img-fluid w-100" alt="{{ image?.lien }}">
      }
    }
  }

<ng-template #product>
  @if (image?.type === 'product') {
    <a [routerLink]="['/product/', getProductSlug(image?.redirect_link?.link, (product$ | async)?.data!)]">
      @if (bgImage) {
        <div class="responsive-bg" [ngClass]="class" [ngStyle]="{'background-image': 'url(' + image?.lien + ')'}"></div>
      }
      @if (!bgImage) {
        <img src="{{ image?.lien }}" class="img-fluid .responsive-img" alt="{{ image?.lien }}">
      }
    </a>
  } @else {
    @if (bgImage) {
      <div class="responsive-bg" [ngClass]="class" [ngStyle]="{'background-image': 'url(' + image?.lien + ')'}"></div>
    }
    @if (!bgImage) {
      <img src="{{ image?.lien }}" class="img-fluid w-100" alt="{{ image?.lien }}">
    }
  }
</ng-template>
