.responsive-bg {
    width: 100%;
    height: 170px;
    background-size: cover;
    background-position: center;
  }
  
  @media (min-width: 768px) {
    .responsive-bg {
      height: 30px;
    }
  }
  
  @media (min-width: 1024px) {
    .responsive-bg {
      height: 400px;
    }
  }

  .responsive-img {
    width: 85%; /* L'image occupe 85% de la largeur du parent */
    max-height: 400px; /* Limite la hauteur maximale */
    object-fit: contain; /* Empêche le rognage et conserve les proportions */
    display: block; /* Nécessaire pour le centrage avec margin auto */
    margin: 0 auto; /* Centre l'image horizontalement */
  }
  