@if (!addresses?.length) {
  <div class="empty-box">
    <h2>{{ 'no_address_found' | translate }}</h2>
  </div>
}
<div class="row g-3">
  @for (address of addresses; track address; let i = $index) {
    <div class="col-xxl-6 col-lg-12 col-md-6">
      <label for="adddress-{{type}}-{{i}}">
        <div class="delivery-address-box">
          <div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                value="{{address.idAdresse}}"
                name="adddress-{{type}}"
                id="adddress-{{type}}-{{i}}"
                [checked]="false"
                (change)="set($event)">
            </div>
            <ul class="delivery-address-detail">
              <li>
                <h4 class="fw-semibold">{{ address.titre }}</h4>
              </li>
              <li>
                <p class="text-content">
                  <span class="text-title">{{ 'address' | translate }}: </span>
                  {{ address.pays | country}}, {{ address.etat | state}}, {{ address.ville }},
                  {{ address.adresse }}
                </p>
              </li>
              
              @if (address.numero_telephone) {
                <li>
                  <h6 class="text-content mb-0">
                    <span class="text-title">{{ 'phone' | translate }} :</span> {{ address.numero_telephone }}
                  </h6>
                </li>
              }
            </ul>
          </div>
        </div>
      </label>
    </div>
  }
</div>
