@if(product) {
  <div class="product-box" [class]="class">
    @if (true) {
      <div class="label-tag sale-tag"><span>{{ 'sale' | translate  }}</span></div>
    } @else {
      @if (true) {
        <div class="label-tag"><span>{{ 'featured' | translate  }}</span></div>
      }
    }
    <ng-template #featured>
      @if (product.featured) {
        <div class="label-tag"><span>{{ 'featured' | translate  }}</span></div>
      }
    </ng-template>
    <div class="product-image">
      <a [routerLink]="['/product/', product.nom_article, product.idArticle]">
              <img [src]="product.Images ? (product.Images[0].lien ? product.Images[0].lien : product.lien) : 'assets/images/product.png'" class="img-fluid" [alt]="'product'">
        </a>
        @if (close) {
          <div class="product-header-top">
            <app-button
              [class]="'btn wishlist-button close_button'"
              [spinner]="false"
              [id]="'close_btn'"
              (click)="removeWishlist(product.idArticle)">
            <i class="ri-close-line"></i>
          </app-button>
        </div>
      }
      @if (!close) {
        <ul class="product-option">
          <li>
            <a href="javascript:void(0)" (click)="productDetailModal.openModal()">
              <i class="ri-eye-line"></i>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" (click)="addToCompar(product)">
              <i class="ri-refresh-line"></i>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" class="notifi-wishlist" (click)="addToWishlist(product)">
              <i class="ri-heart-line"></i>
            </a>
          </li>
        </ul>
      }
    </div>
    <div class="product-detail">
      <a [routerLink]="['/product/', product.nom_article, product.idArticle]">
        <h6 class="name">{{ product.nom_article }}</h6>
      </a>
      <p>{{ product.description }}</p>
      @if (product.prix) {
        <h6 class="unit mt-1">{{ product.prix }}</h6>
      }
      <h5 class="sold text-content">
        @if (product.promo) {
          <h5 class="price theme-color">{{ (product.prix - (product.prix * product.pourcentage_promo)/100) | currencySymbol }}</h5>

         <del class="text-content" style="color: red;">{{  product.prix | currencySymbol }}</del>
       }
        @if (product.promo && product.pourcentage_promo) {
          <span class="theme-color">({{ product.pourcentage_promo }}%)</span>
        }
      </h5>
      <div class="product-rating">
        @if (true) {
          <h6 class="theme-color">
            {{ product.statut| titleCase }}
          </h6>
        }
      </div>
      <div class="add-to-cart-box">
        @if (true) {
          <app-button [id]="'add-to-cart'+product.idArticle"
            [class]="'btn btn-add-cart addcart-button'"
            [iconClass]="'ri-add-line'"
            [spinner]="false"
            (click)="product.type === 'classified' ? productDetailModal.openModal() : addToCart(product, 1)"
            >
            {{ 'add' | translate  }}
            <span class="add-icon">
              <i class="ri-add-line"></i>
            </span>
          </app-button>
        } @else {
          <app-button [id]="'out-of-stock'+product.idArticle"
            [class]="'btn btn-add-cart addcart-button'"
            [spinner]="false"
            [disabled]="true">
            {{ 'sold_out' | translate  }}
          </app-button>
        }
        <div class="cart_qty qty-box" [class.open]="cartItem && cartItem.quantity > 0">
          <div class="input-group">
            <app-button
              [id]="'qty-left-minus'+product.idArticle"
              [spinner]="false"
              [class]="'qty-left-minus'"
              (click)="addToCart(product, -1)">
              <i class="ri-subtract-line"></i>
            </app-button>
            <input class="form-control input-number qty-input" type="text" name="quantity"
              value="{{cartItem && cartItem.quantity ? cartItem.quantity : cartItem}}"
              readonly>
            <app-button
              [id]="'qty-right-plus'+product.idArticle"
              [spinner]="false"
              [class]="'qty-left-plus'"
              (click)="addToCart(product, 1)">
              <i class="ri-add-fill"></i>
            </app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-product-detail-modal #productDetailModal [product]="product"></app-product-detail-modal>
  <app-variation-modal #variationModal></app-variation-modal>
}
