<div class="offer-product">
  <a [routerLink]="['/product/', product.idArticle]" class="offer-image">
        <img [src]="product.Images ? (product.Images[0].lien ? product.Images[0].lien : product.lien) : (product.lien ? product.lien: 'assets/images/product.png')" alt="product">
    </a>
    <div class="offer-detail">
      <div class="text-wrap">
        <div [routerLink]="['/product/', product.idArticle]" style="cursor: pointer;">
          <h5 class="name text-wrap"><strong> {{ product.nom_article }}</strong></h5>
        </div>
        @if (product.prix) {
          <span>{{ product.prix  | currencySymbol}}</span>
        }
        <div class="vertical-price text-wrap">
          @if (product.promo) {
            <h5 class="price theme-color">{{ (product.prix - (product.prix * product.pourcentage_promo)/100) | currencySymbol }}</h5>
            <del class="text-content">{{ product.prix | currencySymbol }}</del>
          }
        </div>
      </div>
    </div>
  </div>
