<div class="offer-product">
  <a [routerLink]="['/product/', product.idArticle]" class="offer-image">
        <img [src]="product.Images ? (product.Images[0].lien ? product.Images[0].lien : product.lien) : 'assets/images/product.png'" alt="product">
    </a>
    <div class="offer-detail">
      <div>
        <a [routerLink]="['/product/', product.idArticle]" class="text-title">
          <h6 class="name">{{ product.nom_article }}</h6>
        </a>
        @if (product.prix) {
          <span>{{ product.prix }}</span>
        }
        <div class="vertical-price">
          @if (product.promo) {
             <h5 class="price theme-color">{{ (product.prix - (product.prix * product.pourcentage_promo)/100) | currencySymbol }}</h5>

            <del class="text-content">{{  product.prix | currencySymbol }}</del>
          }
        </div>
      </div>
    </div>
  </div>
