<ng-template #productDetailModal let-modal>
  <div class="modal-content">
    <div class="modal-header p-0">
      <app-button [type]="'button'" [class]="'btn btn-close'" [id]="'product_detail_close_modal_btn'" [spinner]="false" (click)="modal.dismiss('Cross click')">
        <i class="ri-close-line"></i>
      </app-button>
    </div>
    <div class="modal-body">
      <div class="row g-sm-4 g-2">
        @if(isBrowser) {
          <div class="col-lg-6">
            <div class="view-image-slider">
              <owl-carousel-o [options]="productMainThumbSlider" #owlCar>
                @for (image of product.Images; track image; let i = $index) {
                  <ng-template carouselSlide [id]="image.idImage.toString()">
                                  <img [src]="( image ? image.lien
                                          : 'assets/images/product.png')" class="img-fluid" alt="product">
                    </ng-template>
                  }
                </owl-carousel-o>
              </div>
              @if (product.Images && product.Images.length > 1) {
                <div class="col-12">
                  <div class="bottom-slider-image left-slider no-arrow slick-top">
                    <owl-carousel-o [options]="productThumbSlider">
                      @for (image of product.Images; track image) {
                        <ng-template carouselSlide [id]="image.idImage.toString()">
                          <div>
                            <div class="slider-image" [class.active]="image.idImage.toString() == activeSlide.toString()">
                                              <img [src]="image ? image.lien
                                                      : 'assets/images/product.png'" class="img-fluid" [alt]="product.nom_article"
                                (click)="owlCar.to(activeSlide = image.idImage.toString())">
                            </div>
                          </div>
                        </ng-template>
                      }
                    </owl-carousel-o>
                  </div>
                </div>
              }
            </div>
            <div class="col-lg-6">
              <div class="right-sidebar-modal">
                <h4 class="title-name">{{ selectedVariation ? selectedVariation.name : product.nom_article }}</h4>
                <h4 class="price">
                  <del>
                    {{ product.prix | currencySymbol }}
                  </del>
                  @if (product.promo) {
                    {{ (product.prix-(product.prix*product.pourcentage_promo)/100) | currencySymbol }}
                  }
                  @if (product.promo) {
                    <label class="modal-label">
                      {{ product.pourcentage_promo }}%
                    </label>
                  }
                </h4>
                <div class="product-detail mb-2">
                  <h4>{{ 'product_details' | translate }}:</h4>
                  <p [innerHTML]="product.caracteristiques"></p>
                </div>
                <div class="pickup-box">
                  <div class="product-info">
                    <ul class="product-info-list product-info-list-2">
                      @if (product.sku) {
                        <li>{{ 'sku' | translate }}: {{ product.sku }}</li>
                      }
                      @if (product.statut) {
                        <li>{{ 'stock_status' | translate }}: {{ product.statut! | titleCase }}</li>
                      }
                      @if (product.quantite > 0) {
                        <li>{{ 'quantity' | translate }}: {{ product.quantite }} {{ 'items_left' | translate }}</li>
                      }
                    </ul>
                  </div>
                </div>
                @if (true) {
                  <div class="selection-section mt-3">
                    <app-variant-attributes
                      [product]="product"
                      [attributes]="product.attributes || []"
                      [owlCar]="owlCar"
                      (selectVariation)="selectVariation($event!)">
                    </app-variant-attributes>
                  </div>
                }
                <div class="modal-button">
                  <div class="modal-qty">
                    <div class="input-group">
                      <app-button
                        [class]="'btn qty-left-minus'"
                        [id]="'add-to-cart'+product.idArticle"
                        [spinner]="false"
                        (click)="updateQuantity(-1)">
                        <i class="ri-subtract-fill"></i>
                      </app-button>
                      <input class="form-control input-number qty-input" type="text" name="quantity" value="{{productQty}}" readonly>
                      <app-button
                        [class]="'btn qty-left-minus'"
                        [id]="'qty-left-minus'+product.idArticle"
                        [spinner]="false"
                        (click)="updateQuantity(1)">
                        <i class="ri-add-line"></i>
                      </app-button>
                    </div>
                  </div>
                  @if ((product.statut == 'En stock'
                    || product.stock_status == 'in_stock' && product.type && product.type === 'simple')) {
                    <app-button [id]="'addcartDetailsbtnVariation'+product.idArticle"
                      [class]="'btn theme-bg-color view-button icon text-white fw-bold btn-md'"
                      (click)="addToCart(product)"
                      >
                      <i class="ri-shopping-cart-line me-1"></i> {{ 'add_to_cart' | translate }}
                    </app-button>
                  } @else {
                    <app-button
                      [class]="'btn theme-bg-color view-button icon text-white fw-bold btn-md'"
                      [id]="'cartDetailsbtnOs'+product.idArticle"
                      [spinner]="false"
                      [disabled]="true">
                      {{ ((product.statut == 'Rupture' ||
                      product.stock_status == 'out_of_stock' ) ? 'sold_out' : 'add_to_cart') | translate }}
                    </app-button>
                  }
                </div>
              </div>
            </div>
        }
        </div>
      </div>
    </div>
  </ng-template>
